.currHead {
  display: inline-block;
};

h1 {
  background-image: linear-gradient(to right, rgb(96, 96, 245), 40%, rgb(22, 22, 83));
};

.card-body {
  background-color: rgb(12, 12, 44);
}

label {
  font-size: 25px;
  font-weight: bolder;
}

.card-body {
  display: grid;
  height: 245px;
}

#five-day p {
  font-size: 12px;
}

#current-img {
  width: 60px;
  height: 60px;
}

#daily-img1, #daily-img2, #daily-img3, #daily-img4, #daily-img5 {
  width: 60px;
  height: 60px;
}

#uvRound {
  border-radius: 5px;
  padding: 2px 10px
}

@media screen and (max-width: 1000px) {
  #h5-1, #h5-2, #h5-3, #h5-4, #h5-5 {
    font-size: 0.9rem;
    padding-left: 5px;
  }
  #five-day p {
    font-size: 10px;
    padding-left: 5px;
    flex-wrap: wrap;
  }
  #five-day i {
    padding-left: 5px;
  }
  .card {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  #h5-1, #h5-2, #h5-3, #h5-4, #h5-5 {
    font-size: 1rem;
    padding-left: 5px;
  }
  #five-day p {
    font-size: 10px;
    padding-left: 5px;
    flex-wrap: wrap;
  }
  #five-day i {
    padding-left: 5px;
  }
  .card {
    margin-left: 10px;
  }
  #search-history {
    margin-bottom:20px;
  }
}
@media screen and (max-width: 575px) {
  #h5-1, #h5-2, #h5-3, #h5-4, #h5-5 {
    font-size: 2rem;
    padding-left: 5px;
  }
  #five-day p {
    font-size: 1rem;
    padding-left: 5px;
    flex-wrap: wrap;
  }
  #five-day i {
    padding-left: 5px;
  }
  .card {
    margin-left: 10px;
  }

  .btn-block{
    width: 48%;
    margin-right: 2px;
    display: inline-block;
  }
}
