.currHead {
  display: inline-block;
};

h1 {
  background-image: linear-gradient(to right, rgb(96, 96, 245), 40%, rgb(22, 22, 83));
};

.card-body {
  background-color: rgb(12, 12, 44);
}

label {
  font-size: 30px;
  font-weight: bolder;
}

.card-body {
  display: grid;
  height: 245px;
}

#five-day p {
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  h5 {
    font-size: 13px;
    padding-left: 5px;
  }
  #five-day p {
    font-size: 10px;
    padding-left: 5px;
    flex-wrap: wrap;
  }
  #five-day i {
    padding-left: 5px;
  }
  .card {
    margin-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  #five-day p {
    font-size: 16px;
  }
  h5 {
    font-size: 40px;
    padding-left: 5px;
  }
}
